<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>
    {% block title %}
    la bassse si on change rien
    {% endblock %}
  </title>
  <link rel="stylesheet" href="{%static 'node_modules/bootstrap/dist/css/bootstrap.min.css' %}">
  <script src="{%static 'node_modules/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
</head>
<body class="bg-light">
  <header>
    {% block header %}
    {% endblock %}
  </header>
  <main>
    {% block content %}
    {% endblock %}
  </main>
  <footer>
    {% block footer %}
    {% endblock %}
  </footer>
</body>
</html>