@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

/* ----------------------Header------------------------- */
header {
    background-color: rgb(211, 7, 7);
    /* background: rgb(211, 7, 7) url('logo.png') no-repeat 0px 0px; */
    border-bottom: 1px solid rgb(58, 3, 3);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a img {
    height: 100%;
    width: 30rem;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.menu a {
    margin: 0 25px 0 0;
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-weight: 600;
    transition: 0.3s;
    width: 110px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu a:hover {
    text-decoration-line: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: rgb(0, 0, 0);
    text-underline-offset: 8px;
    letter-spacing: 1px;
    font-size: 27px;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin: 0 25px 0 0;
}
.dropdown img{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    cursor: pointer;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: white;
    width: 10rem;
    right: 0%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    background-color: rgb(255, 255, 255);
}   
.dropdown-content a{
    text-align: center;
    width: 10rem;
    color: black;
    display: block;
    margin: 0;
    padding: 10px 2.5px 0 2.5px;
}
.dropdown-content a:hover{
    background-color: rgba(255, 255, 255, 0);
    width: 10rem;
    font-size: 25px;
    letter-spacing: 0;
    text-decoration: none;
}
.dropdown:hover .dropdown-content {
    display: block;
    justify-content: center;
    align-items: center;
}

/* 
.crumb a::after {
    display: inline-block;
    color: #000;
    font-size: 80%;
    font-weight: bold;
    padding: 0 3px;
} */

#main-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 73vh;
}

#login-content {
    /* transform: translate(-50%, -50%); */
    height: 300px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#login-content h1 {
    color: rgb(211, 7, 7);
    font-size: 50px;
}

#login-content form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2rem 0 0 0;
}

#login-content form input {
    height: 70px;
    width: 30rem;
    margin: 0 0 1rem 0;
    border-radius: 5px;
    padding: 0 0 0 10px;
    border: solid black 1px;
    font-size: 35px;
}

#login-content form div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#login-content form div input {
    height: 70px;
    width: 15rem;
    background-color: rgb(211, 7, 7);
    color: white;
    font-size: 25px;
    font-weight: 600;
    padding: 0;
    border: none;
    transition: 0.3s;
    cursor: pointer;
}

#login-content form div input:hover {
    letter-spacing: 1px;
    background-color: rgb(192, 8, 5);
}

#login-content form div .but_connexion {
    margin: 0 5px 0 0;
}

#login-content form div .but_create {
    margin: 0 0 0 5px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    font-weight: 600;
}