<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/members/style_detail.css">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'members:vote' question.id %}" method="post">
        {% csrf_token %}
        <fieldset>
            <legend>
                <h1>{{ question.question_text }}</h1>
            </legend>
            {% if error_message %}
                <p class="err">{{ error_message }}</p>
            {% endif %}
        <div class="div1">
            {% for choice in question.choice_set.all %}
            <div class="div2">
                
                <label 
                for="choice{{ forloop.counter }}">
                {{ choice.choice_text }}
                </label>
                <input 
                type="radio" 
                name="choice" 
                id="choice{{ forloop.counter }}" 
                value="{{ choice.id }}">
            </div >
            {% endfor %}
        </div>
            <input class="sub" type="submit" value="Vote">
        </fieldset>
        </form>
        <script src="/static/members/script.js"></script>
</body>
</html>