<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/members/style_error.css">
    <link rel="stylesheet" href="{%static 'members/node_modules/bootstrap/dist/css/bootstrap.min.css' %}">
    <script src="{%static 'members/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
</head>
<body>
    <section>
        <div id="prim">
            <div class="bigerror">
                <h1>ERROR <span class="span4">4</span><span class="span0">0</span><span class="">4</span></h1>
                <p>Il y a comme un petit problème ... </p>
            </div>
        </div>
    </section>
</body>
</html>